body{
    background-color: blueviolet;
    background-image: url("../images/image01.jpg");
    font-family: 'Montserrat';
    background-size: 100%;
    text-align: center;
}
.backdrop{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background: linear-gradient(to top left, #000066 0%, #0099ff 100%);
    font-family: 'Montserrat Black';
}
.header{
    text-align: center;
    margin-top: 5px; 
    margin-bottom: 5px;
    font-family: 'Montserrat SemiBold';
    color: white;
}
.header{
    font-size: 24px;
    padding-left:10px;
    padding-right:10px;
    color:dodgerblue;
}
.heart{
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    color:dodgerblue;
}

.soul{
    text-align: center;
    margin-top: 5px; 
    margin-bottom: 5px;
    background: linear-gradient(to bottom right, #000066 0%, #ccccff 100%);
    font-family: 'Montserrat SemiBold';
}
#dodger{
    color:dodgerblue;
    border: 2px solid skyblue;
    border-radius: 50px;
}

#a1cont{
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#upper{
     background: linear-gradient(to top left, #000066 0%, #0099ff 100%);
}
#nav{
    font-family: 'Montserrat SemiBold';
}
li:hover{
    border-bottom-color: aliceblue;
    border-bottom-style: ridge;
}
#btnblue{
    background: linear-gradient(to bottom right, #000066 0%, #ccccff 100%);
    border-color: blue;
}

.form-inline {
  display: inline-block;
  align-items: center;
}
.form-inline input {
    padding: 10px 20px 10px 20px;
}
.form-inline button {
  margin-left: 20px;
    padding: 10px 20px;
}